<ion-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <div class="color-main font-size-10 line-height-34">上海</div>
        </div>
        <div class="title title-center header-item">
            <div class="color-main">关注</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate company-list" ng-click="goCompanyDetail('576e3f9132f54577234e8c92')">
                <div class="company-top-content-1">
                    <img class="company-top-img-1" src="{{company.logo}}" />
                    <div class="company-top-t1">谷歌</div>
                    <div class="company-top-t3">还剩100个名额</div>
                    <div class="company-top-t5">已关注</div>
                </div>
            </ion-item>
            <ion-item class="item-remove-animate company-list" ng-click="goCompanyDetail('576e3f9132f54577234e8c92')">
                <div class="company-top-content-1">
                    <img class="company-top-img-1" src="{{company.logo}}" />
                    <div class="company-top-t1">谷歌</div>
                    <div class="company-top-t3">还剩100个名额</div>
                    <div class="company-top-t5">已关注</div>
                </div>
            </ion-item>
            <ion-item class="item-remove-animate company-list" ng-click="goCompanyDetail('576e3f9132f54577234e8c92')">
                <div class="company-top-content-1">
                    <img class="company-top-img-1" src="{{company.logo}}" />
                    <div class="company-top-t1">谷歌</div>
                    <div class="company-top-t3">还剩100个名额</div>
                    <div class="company-top-t5">已关注</div>
                </div>
            </ion-item>
            <ion-item class="item-remove-animate company-list" ng-click="goCompanyDetail('576e3f9132f54577234e8c92')">
                <div class="company-top-content-1">
                    <img class="company-top-img-1" src="{{company.logo}}" />
                    <div class="company-top-t1">谷歌</div>
                    <div class="company-top-t3">还剩100个名额</div>
                    <div class="company-top-t5">已关注</div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>