<ion-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <div class="color-main font-size-10 line-height-34">上海</div>
        </div>
        <div class="title title-center header-item">
            <div class="color-main">关注</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in company" class="item-remove-animate company-list" ng-click="goCompanyDetail('{{item._id}}')">
                <div class="company-top-content-1">
                    <img class="company-top-img-1" src="{{item.logo}}" />
                    <div class="company-top-t1"><span ng-bind="item.company"></span></div>
                    <div class="company-top-t3">还剩100个名额</div>
                    <div class="company-top-t5">已关注</div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>