<ion-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <div class="color-main font-size-10 line-height-34">上海</div>
        </div>
        <div class="title title-center header-item">
            <div class="color-main">消息</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div class="company-tab-title" ng-if="event.future.length!=0">开放活动</div>
            <ion-item ng-repeat="item in event.future" class="item-remove-animate event-list" ng-click="goEventDetail('{{item._id}}')">
                <div class="event-list-text-box">
                    <div class="event-list-logo-box">
                        <img class="event-list-logo" src="{{item.image[0]}}" />
                    </div>
                    <div class="event-list-text">
                        <div class="event-list-text-title ellipsis" ng-bind="item.title"></div>
                        <div class="event-list-text-other ellipsis"><span ng-bind="item.numVisitors"></span>98,798人关注</div>
                    </div>
                </div>
            </ion-item>
            <div class="company-tab-title" ng-if="event.past.length!=0">过去活动</div>
            <ion-item ng-repeat="item in event.past" class="item-remove-animate event-list" ng-click="goEventDetail('{{item._id}}')">
                <div class="event-list-text-box">
                    <div class="event-list-logo-box">
                        <img class="event-list-logo" src="{{item.image[0]}}" />
                    </div>
                    <div class="event-list-text">
                        <div class="event-list-text-title ellipsis" ng-bind="item.title"></div>
                        <div class="event-list-text-other ellipsis"><span ng-bind="item.numVisitors"></span>98,798人关注</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>