/* common */

html,
body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    -webkit-appearance: none;
}

a:link {
    text-decoration: none;
    background-color: transparent !important;
}

a:visited {
    text-decoration: none;
    background-color: transparent !important;
}

a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

a:active {
    text-decoration: none;
    background-color: transparent !important;
}

.font-size-6 {
    font-size: 0.6rem !important;
}

.font-size-8 {
    font-size: 0.8rem !important;
}

.font-size-10 {
    font-size: 1rem !important;
}

.font-size-12 {
    font-size: 1.2rem !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.color-white {
    color: #fff !important;
}

.color-black {
    color: #001 !important;
}

.color-grey {
    color: #777 !important;
}

.color-orange {
    color: #f90 !important;
}

.color-main {
    color: #4A90E2;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.text-decoration-line-underline {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

.line-height-15 {
    line-height: 15px;
}

.line-height-20 {
    line-height: 20px;
}

.line-height-25 {
    line-height: 25px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-34 {
    line-height: 34px;
}

.line-height-40 {
    line-height: 40px;
}

.line-height-50 {
    line-height: 50px;
}

.line-height-60 {
    line-height: 60px;
}

.line-height-70 {
    line-height: 70px;
}

.line-height-80 {
    line-height: 80px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.ellipsis-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal!important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.padding-15 {
    padding: 15px;
}

.padding-0-15 {
    padding: 0 15px;
}

.padding-0-0-0-15 {
    padding: 0 0 0 15px;
}

.padding-15-0-0 {
    padding: 15px 0 0;
}

.padding-0-20 {
    padding: 0 20px;
}

.margin-10-0 {
    margin: 10px 0;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.border-top {
    border-top: 1px solid #ccc !important;
}

.border-bottom {
    border-bottom: 1px solid #ccc !important;
}

.full-width-img {
    width: 100%;
    display: block;
}

.display-none {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

.dispaly-table {
    display: table;
    width: 100%;
}

.dispaly-table-cell-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.item {
    border: none;
    background: none;
    padding: 0;
}

.item-content {
    padding: 0 !important;
}

.swiper-slide {
    color: #777;
}

.swiper-slide-active {
    color: #fff;
}

.slide-tab {
    font-size: 1rem;
    width: 100%;
    line-height: 43px;
    text-align: center;
}

.right-buttons {
    padding: 7px 0;
    margin-right: 10px;
}

.icon {
    height: 20px;
    width: auto;
    margin: auto;
}

.scroll {
    min-height: 100%;
}

.overflow-scrolling {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.loading-container {
    width: 100px;
    height: 100px;
    margin: auto;
}


/* header */

.bar {
    padding: 5px 15px;
    background: #f3f3f3 !important;
    color: #fff !important;
}

.icon-logo {
    width: 120px;
    height: auto;
    vertical-align: middle;
}

.icon-search {
    background: url(../img/icon/search.png);
    display: inline-block;
    width: 18px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    position: absolute;
    right: 15px;
}

.icon-nearby {
    background: url(../img/icon/homepage_nearby@3x.png);
    display: inline-block;
    width: 20px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    position: absolute;
    right: 15px;
}

.icon-address-white {
    background: url(../img/icon/homepage_nearby@3x.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

.bar.bar-stable .title {
    color: #fff;
}

.icon-back {
    background: url(../img/icon/back.png);
    display: inline-block;
    width: 20px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bar .buttons .back-text {
    display: none;
}

.icon-back {
    background: url(../img/icon/back.png);
    display: inline-block;
    width: 20px;
    height: 34px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center center;
}

.z-index-100 {
    z-index: 100;
}


/* tabs(footer) */

.tabs {
    background-color: #f3f3f3;
    background-image: none;
}

.tab-item .icon {
    height: 40px;
    margin: 4px 0;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-home {
    background: url(../img/icon/activity-2.png);
}

.icon-home-outline {
    background: url(../img/icon/activity-1.png);
}

.icon-company {
    background: url(../img/icon/fav-2.png);
}

.icon-company-outline {
    background: url(../img/icon/fav-1.png);
}

.icon-event {
    background: url(../img/icon/message-2.png);
}

.icon-event-outline {
    background: url(../img/icon/message-1.png);
}

.icon-user {
    background: url(../img/icon/me-2.png);
}

.icon-user-outline {
    background: url(../img/icon/me-1.png);
}


/* home */

.slider-pager {
    bottom: 10px;
}

.slider-pager .slider-pager-page {
    color: #eee;
    opacity: 0.5;
    font-size: 0.6rem;
}

.home-sort-area {
    padding: 15px 0;
    background: #eee;
}

.home-sort-box {
    background: #fff;
    height: 70px;
    padding: 5px 0;
    font-size: 0;
}

.home-sort {
    display: inline-block;
    width: 33.3333333%;
    text-align: center;
}

.home-sort-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.home-sort-text {
    font-size: 0.8rem;
    color: #000;
    line-height: 20px;
}

.home-list .item-content {
    padding: 0;
}

.home-list-box1 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px;
}

.home-list-box2 {
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
}

.home-list-img-box {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.home-list-img {
    width: 100%;
    height: auto;
}

.sort-list .list {
    padding: 15px 0 0;
}

.home-focus {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.home-list-tab {
    line-height: 25px;
    padding: 0 10px;
    background: #4fd1ff;
    display: inline-block;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    left: 10px;
    top: 10px;
    box-shadow: 1px 1px 0 #fff;
    z-index: 100;
}

.home-list-text-box {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    position: relative;
    display: table;
    table-layout: fixed;
}

.home-list-logo-box {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.home-list-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    display: block;
}

.home-list-text {
    display: table-cell;
    vertical-align: middle;
}

.home-list-text-title {
    font-size: 0.8rem;
    color: #4A4A4A;
    line-height: 20px;
    position: relative;
    z-index: -1;
}

.home-list-text-other {
    font-size: 0.8rem;
    color: #888;
    line-height: 20px;
    position: relative;
    z-index: -1;
}

.company-top {
    height: 250px;
    width: 100%;
    overflow: hidden;
    padding: 75px 15px 0 15px;
    box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.company-top-content {
    width: 100%;
    position: relative;
    padding: 50px 0 0;
    background: rgba(255,255,255,0.95);
    height: 175px;
}

.company-top-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    margin: auto;
    box-shadow: 0px 1px 2px #888888;
    border: 4px solid #fff;
}

.company-top-t1 {
    text-align: center;
    font-size: 1rem;
    line-height: 25px;
}

.company-top-t2 {
    text-align: center;
    font-size: 0.8rem;
    line-height: 20px;
    width: 60px;
    margin: 5px auto;
    border: 1px solid #777;
    color: #777;
    border-radius: 5px;
}

.company-top-t3 {
    text-align: center;
    font-size: 0.8rem;
    line-height: 25px;
    color: #777;
}

.company-top-t4 {
    text-align: center;
    font-size: 0.8rem;
    line-height: 25px;
    width: 80px;
    margin: 0px auto;
    border: 1px solid #50E3C2;
    color: #50E3C2;
    border-radius: 3px;
}

.company-tab-title {
    padding: 0 15px;
    background: #eee;
    color: #777;
    line-height: 30px;
    font-size: 0.8rem;
}

.event-list {
    padding: 10px 15px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.event-list-text-box {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: table;
    table-layout: fixed;
}

.event-list-logo-box {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 50px;
}

.event-list-logo {
    width: 100%;
    height: auto;
    display: block;
}

.event-list-text {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 15px;
}

.event-list-text-title {
    font-size: 0.8rem;
    color: #4A4A4A;
    line-height: 25px;
    position: relative;
    z-index: -1;
}

.event-list-text-other {
    font-size: 0.8rem;
    color: #888;
    line-height: 25px;
    position: relative;
    z-index: -1;
}

.event-title-box {
    height: 70px;
    width: 100%;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
}

.event-title-logo-box {
    width: 40px;
    position: absolute;
    top: -20px;
    right: 15px;
}

.event-title-logo {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.event-company-name {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    color: #777;
}

.event-title-text1 {
    font-size: 1rem;
    color: #000;
    line-height: 25px;
    width: 80%;
}

.event-title-text2 {
    font-size: 0.8rem;
    color: #777;
    line-height: 25px;
    width: 80%;
}

.event-info {
    background: #fff;
    padding: 5px 15px;
    box-sizing: border-box;
}

.event-info-item {
    padding: 5px 0;
}

.event-info-item-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.event-info-item-text {
    line-height: 20px;
    font-size: 0.8rem;
    padding: 0 0 0 10px;
    vertical-align: middle;
    color: #777;
}

.event-detail-item-text {
    line-height: 20px;
    font-size: 0.8rem;
    padding: 0;
    vertical-align: middle;
    color: #777;
}

.event-command {
    box-sizing: border-box;
}

.event-command-logo-box {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.event-command-logo {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.event-footer-area {
    background: #eee;
    height: 65px;
    width: 100%;
}

.event-footer {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    border-top: 1px solid #eee;
    height: 50px;
}

.event-footer-1 {
    width: 70%;
    font-size: 0.9rem;
    line-height: 30px;
    color: #777;
}

.event-footer-1 span {
    color: #50E3C2;
}

.event-footer-2 {
    color: #50E3C2;
    width: 60px;
    font-size: 0.8rem;
    line-height: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    border: 1px solid #50E3C2;
    text-align: center;
    border-radius: 3px;
}

.search-input-box {
    padding: 10px 15px;
    width: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    height: 35px !important;
    line-height: 25px !important;
    font-size: 0.8rem !important;
    padding: 0 40px !important;
    box-sizing: border-box !important;
    z-index: 100 !important;
    background: #ECEFF1 !important;
    color: #ccc !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}

.search-input-icon1 {
    position: absolute;
    left: 25px;
    top: 17px;
    width: 20px;
}

.search-input-icon1 {
    position: absolute;
    left: 25px;
    top: 17px;
    width: 20px;
}

.search-input-icon2 {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 15px;
}

.search-tab-box {
    background: #eee;
    padding: 15px 0 0;
}

.search-tab {
    width: 100%;
    background: #fff;
}

.search-tab-title {
    padding: 0 15px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    color: #777;
    font-size: 1rem;
}

.search-tab-content {
    padding: 15px;
    box-sizing: border-box;
}

.search-tab-btn {
    text-align: center;
    font-size: 0.8rem;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 5px 5px 0;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    border-radius: 3px;
    display: inline-block;
}

.company-list {
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    width: 50%;
    display: inline-block;
    height: 225px;
}

.company-list:nth-child(2n+1) {
    border-right: 1px solid #eee;
        z-index: 100;
}

.company-top-content-1 {
    width: 100%;
    position: relative;
    padding: 30px 0 0;
    background: #fff;
    height: 175px;
}

.company-top-img-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
}

.company-top-t5 {
    text-align: center;
    font-size: 0.8rem;
    line-height: 25px;
    width: 80px;
    margin: 5px auto;
    color: #fff;
    border-radius: 3px;
    background: #50E3C2;
}

.coupon-activity {
    width: 100%;
    padding: 10px 0;
}

.coupon-activity-tab-box {
    width: 50%;
}

.active-tab {
    border-bottom: 1px solid #001;
}

.coupon-tab,
.activity-tab {
    display: inline-block;
    padding: 0 5px;
    box-sizing: border-box;
}
