<ion-view>
    <ion-header-bar align-title="center">
        <button class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
            <i class="icon-back"></i>
        </button>
        <div class="title title-center header-item">
            <div class="color-main">公司</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="company-top" style="background-image: url({{company.image[0]}});
}">
            <div class="company-top-content">
                <img class="company-top-img" src="{{company.logo}}" />
                <div class="company-top-t1"><span ng-bind="company.name"></span></div>
                <div class="company-top-t2">互联网</div>
                <div class="company-top-t3"><span ng-bind="company.companySize"></span>人关注</div>
                <div class="company-top-t4">已关注</div>
            </div>
        </div>
        <div class="coupon-activity dispaly-table font-size-10 color-black text-align-center line-height-30">
            <div class="dispaly-table-cell-middle coupon-activity-tab-box" style="border-right: 1px solid #aaa;"><span class="coupon-tab" ng-class="couponTab" ng-click="chooseCoupon()">活动信息</span></div>
            <div class="dispaly-table-cell-middle coupon-activity-tab-box"><span class="activity-tab" ng-class="activityTab" ng-click="chooseActivity()">公司详情</span></div>
        </div>
        <ion-list ng-show="eventtab=='active-tab'">
            <div>开放活动</div>
            <ion-item ng-repeat="item in deals" class="item-remove-animate" href="">
                
            </ion-item>
            <div>过去活动</div>
            <ion-item ng-repeat="item in deals" class="item-remove-animate" href="">
                
            </ion-item>
        </ion-list>
        <ion-list ng-show="detailtab=='active-tab'" class="activity-list">
            <ion-item class="" href="">
                <span ng-bind="data.description"></span>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>