<ion-view>
    <ion-header-bar align-title="center">
        <button class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
            <i class="icon-back"></i>
        </button>
        <div class="title title-center header-item">
            <div class="color-main">参观详情</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="company-top" style="background-image: url({{data.image[0]}});
}">
        </div>
        <ion-list>
            <div class="event-title-box">
                <div class="event-title-logo-box">
                    <img class="event-title-logo" src="" />
                    <div class="event-company-name">谷歌</div>
                </div>

                <div class="event-title-text1 ellipsis">7月18日一起参观上海谷歌分公司</div>
                <div class="event-title-text2 ellipsis">连续多年被《财富》杂志选为最适合工作的公司</div>
            </div>
            <div class="company-tab-title">活动信息</div>
            <div class="event-info">
                <div class="event-info-item">
                    <img class="event-info-item-img" src="" />
                    <span class="event-info-item-text">7月18日 9:00-17:00</span>
                </div>
                <div class="event-info-item">
                    <img class="event-info-item-img" src="" />
                    <span class="event-info-item-text">西藏中路268号来福士广场16层</span>
                </div>
                <div class="event-info-item">
                    <img class="event-info-item-img" src="" />
                    <span class="event-info-item-text">6月30日截止申请</span>
                </div>
            </div>
            <div class="company-tab-title">活动详情</div>
            <div class="event-info">
                <div class="event-info-item">
                    <span class="event-detail-item-text">·9:00 集合<br>·9:00 - 11:00 参观google数据中心<br>·11:00 - 13:00 在google员工食堂用餐<br>·13:00 - 15:00 brainstorm workshop<br>·15:00 - 17:00 和谷歌员工一起体育竞技项目</span>
                </div>
            </div>
            <div class="company-tab-title">用户评论</div>
            <div class="event-command">
                <ion-item class="event-list">
                    <div class="event-list-text-box">
                        <div class="event-command-logo-box">
                            <img class="event-command-logo" src="" />
                        </div>
                        <div class="event-list-text">
                            <div class="event-list-text-title ellipsis">兔子斯基</div>
                            <div class="event-list-text-other ellipsis">很棒的公司，好想再去一次</div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="event-list">
                    <div class="event-list-text-box">
                        <div class="event-command-logo-box">
                            <img class="event-command-logo" src="" />
                        </div>
                        <div class="event-list-text">
                            <div class="event-list-text-title ellipsis">兔子斯基</div>
                            <div class="event-list-text-other ellipsis">很棒的公司，好想再去一次</div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="event-list">
                    <div class="event-list-text-box">
                        <div class="event-command-logo-box">
                            <img class="event-command-logo" src="" />
                        </div>
                        <div class="event-list-text">
                            <div class="event-list-text-title ellipsis">兔子斯基</div>
                            <div class="event-list-text-other ellipsis">很棒的公司，好想再去一次</div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <div class="event-footer-area"></div>

    </ion-content>
    <div class="event-footer">
        <div class="event-footer-1">活动热度 <span>2,000</span> 报名情况 <span>2,000</span>/36</div>
        <div class="event-footer-2">报名</div>
    </div>
</ion-view>