<ion-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <div class="color-main font-size-10 line-height-34">上海</div>
        </div>
        <div class="title title-center header-item">
            <!--            <img class="icon-logo" src="img/icon/homepage_logo@3x.png">-->
            <div class="color-main">Visit</div>
        </div>
        <div class="buttons">
            <a class="icon-search z-index-100" href="#/tab/tab1/search/tab1"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <!--<ion-refresher on-refresh="doRefresh()"></ion-refresher>-->
        <ion-slide-box ng-if="focus" class="home-focus" ng-if="focus" delegate-handle="slide-focus" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="item in focus">
                <a class="discover-slide-img-box" ng-click="goCompanyDetail('{{item._id}}')" alt="{{item.title_cn}}">
                    <img ng-src="{{item.image[0]}}">
                </a>
            </ion-slide>
        </ion-slide-box>
        <div class="home-sort-area">
            <div class="home-sort-box">
                <div class="home-sort" ng-click="sort()">
                    <img class="home-sort-img" src="" />
                    <div class="home-sort-text">最新</div>
                </div>
                <div class="home-sort" ng-click="sort()">
                    <img class="home-sort-img" src="" />
                    <div class="home-sort-text">热门</div>
                </div>
                <div class="home-sort" ng-click="sort()">
                    <img class="home-sort-img" src="" />
                    <div class="home-sort-text">推荐</div>
                </div>
            </div>
        </div>

        <!--    spacial    -->
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" class="">
            <ion-item ng-repeat="item in company" class="item-remove-animate home-list" ng-click="goCompanyDetail('{{item._id}}')">
                <div class="home-list-box1">
                    <div class="home-list-box2">
                        <div class="home-list-tab">互联网</div>
                        <div class="home-list-img-box">
                            <img class="home-list-img" src="{{item.image[0]}}" />
                        </div>
                        <div class="home-list-text-box">
                            <div class="home-list-logo-box">
                                <img class="home-list-logo" src="{{item.logo}}" />
                            </div>
                            <div class="home-list-text">
                                <div class="home-list-text-title ellipsis" ng-bind="item.description"></div>
                                <div class="home-list-text-other ellipsis"><span ng-bind="item.founded"></span>98,798人关注</div>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>