<ion-view>
    <ion-header-bar align-title="center">
        <button class="button back-button buttons button-clear header-item" ng-click="$ionicGoBack()">
            <i class="icon-back"></i>
        </button>
        <div class="title title-center header-item">
            <div class="color-main">搜索</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="search-input-box">
            <img class="search-input-icon1" src="img/icon/search2.png">
            <input class="search-input" type="search" placeholder="Search..." ng-model="name.value" ng-keyup="KeySearch($event)">
            <img class="search-input-icon2" src="img/icon/Delete.png" ng-click="clear()">
        </div>
        <div class="search-tab-box">
            <div class="search-tab">
                <div class="search-tab-title">行业</div>
                <div class="search-tab-content">
                    <div class="search-tab-btn" ng-click="Search()">互联网</div>
                    <div class="search-tab-btn" ng-click="Search()">互联网</div>
                    <div class="search-tab-btn" ng-click="Search()">互联网</div>
                    <div class="search-tab-btn" ng-click="Search()">互联网</div>
                </div>
            </div>
        </div>
        <div class="search-tab-box">
            <div class="search-tab">
                <div class="search-tab-title">热门搜索</div>
                <div class="search-tab-content">
                    <div class="search-tab-btn" ng-click="Search()">谷歌</div>
                    <div class="search-tab-btn" ng-click="Search()">苹果</div>
                    <div class="search-tab-btn" ng-click="Search()">华为</div>
                    <div class="search-tab-btn" ng-click="Search()">互联网</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>