<ion-view>
    <ion-header-bar align-title="center">
        <div class="buttons">
            <button class="icon-search" ng-click="Search()"></button>
        </div>
        <input class="search-input" type="search" placeholder="请输入商户名／商圈" ng-model="name" ng-keyup="KeySearch($event)">
        <div class="buttons">
            <span class="search-close" ng-click="$ionicGoBack()">CLOSE</span>
        </div>
    </ion-header-bar>
    <ion-content class="padding-0-15">
        <div ng-repeat="item in category" class="search-category">
            <div ng-bind="item.merchant_category_cn" class="font-size-9 color-black line-height-30"></div>
            <div class="search-subcategory-box">
                <a ng-repeat="item2 in item.subCategorys" ng-bind="item2.merchant_subcategory_cn" class="font-size-6 color-black search-subcategory" href="#/tab/{{tab}}/search-favorable/{{item2.merchant_category_id}}/{{item2.merchant_subcategory_id}}/{{item2.merchant_subcategory_cn}}/{{tab}}"></a>
            </div>
        </div>
        <br>
    </ion-content>
</ion-view>